name: Download Video and Create Release

on:
  workflow_dispatch: # 允许手动触发工作流

jobs:
  download_and_upload:
    runs-on: ubuntu-latest # 使用 Linux 运行器

    permissions:
      contents: write # 授予 GITHUB_TOKEN 写入仓库内容的权限，以便创建 Release

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4 # 检出你的仓库代码
        
      - name: Create Cookies File
        # 这一步将存储在 Secret 中的 Cookies 文本内容写入到 cookies.txt 文件
        run: echo "${{ secrets.BINGGAN }}" > cookies.txt
        # 使用 shell: bash -e 是为了确保写入文件时不出错
        shell: bash -e
        
